@charset "UTF-8";
/*Primero se llama a los utilities*/
/*segundo a los base*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

h1,
h2,
h3 {
  font-family: "DM Serif Display", serif;
  font-weight: 600;
}

main {
  background-color: #F3E9DC;
}

h1 {
  font-size: 2.25rem;
  font-weight: 600;
}

h2 {
  font-size: 1.75rem;
  font-weight: 600;
}

p {
  font-size: 1rem;
  line-height: 1.6;
}

/*tersero layout media query al final*/
.pie-pagina h3 {
  padding: 0.625rem;
  font-size: 1.375rem;
  font-weight: 600;
}

.caja-general {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: none;
  gap: 0;
  padding: 1.25rem 0;
  background-color: #5C4033;
  color: #F3E9DC;
  height: auto;
}

.caja-redes {
  display: flex;
  flex-wrap: none;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  gap: 0.625rem;
  margin-top: 2.1875rem;
}

.caja-contactos {
  display: flex;
  flex-wrap: none;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  gap: 0.625rem;
}

.iconos-rd {
  display: flex;
  flex-wrap: none;
  flex-direction: row;
  justify-content: space-around;
  align-items: none;
  gap: 0;
}

.iconos-ct {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  gap: 0.625rem;
}

.item-contacto {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: none;
  align-items: center;
  gap: 0.625rem;
}

.item-contacto img {
  width: 1.5rem;
  height: 1.5rem;
}

.item-contacto p {
  margin: 0;
  font-size: 1rem;
  text-wrap: pretty;
}

/*--------------- html index ---------------*/
.seccion-bienvenida {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;
}

.txt-bienvenida {
  display: flex;
  align-items: center;
  width: 50%;
  margin-right: 1.25rem;
  text-wrap: pretty;
}

.seccion-bienvenida img {
  width: 100%;
  max-width: 18.75rem;
  height: auto;
  object-fit: cover;
  margin: 1.875rem;
  border-radius: 1.25rem;
}

h1 {
  color: #5C4033;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 600;
}

main p {
  color: #C75D2C;
  text-align: left;
  font-size: 1rem;
  line-height: 1.6;
  text-wrap: pretty;
}

.contenedor-general {
  display: grid;
  grid-template-columns: none;
  grid-template-rows: repeat(3, 1fr);
  align-items: none;
  justify-items: none;
  gap: 1.875rem;
}

.contenedor3, .contenedor2, .contenedor1 {
  display: flex;
  align-items: center;
  gap: 1.5625rem;
}
.contenedor3 h2, .contenedor2 h2, .contenedor1 h2 {
  padding: 0.625rem 1.5625rem;
  font-size: 1.75rem;
  font-weight: 600;
}
.contenedor3 p, .contenedor2 p, .contenedor1 p {
  padding: 0.625rem 1.5625rem;
  font-size: 1rem;
  line-height: 1.6;
  text-wrap: pretty;
}
.contenedor3 img, .contenedor2 img, .contenedor1 img {
  width: 100%;
  max-width: 18.75rem;
  height: auto;
  object-fit: cover;
  border-radius: 1rem;
  margin: 0.625rem;
}

/* --------------- Sección Tienda --------------- */
.contenedor1 {
  background-color: #F8B259;
  padding-right: 0.625rem;
}
.contenedor1 h2, .contenedor1 p {
  color: #5C4033;
}

/* --------------- Sección Eventos --------------- */
.contenedor2 {
  background-color: #D96F32;
  flex-direction: row-reverse;
  padding-left: 0.625rem;
}
.contenedor2 h2, .contenedor2 p {
  color: #F3E9DC;
}

/* --------------- Sección Sobre nosotros --------------- */
.contenedor3 {
  background-color: #C75D2C;
  padding-right: 0.625rem;
  margin-bottom: 1.875rem;
}
.contenedor3 h2, .contenedor3 p {
  color: #F8B259;
}

/* --------------- html contacto --------------- */
/* --------------- Formulario de contacto ---------------*/
.contenedor-form {
  display: flex;
  flex-wrap: none;
  flex-direction: none;
  justify-content: none;
  align-items: none;
  gap: none;
  width: 100%;
  max-width: 68.75rem;
  margin: 0 auto;
}

.info-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: none;
  align-items: none;
  justify-items: none;
  gap: none;
  width: 100%;
  max-width: 68.75rem;
}

.izq {
  padding: 3.125rem;
}

.der {
  padding: 3.125rem;
  text-align: center;
}

.contenedor-form h2 {
  margin-bottom: 0.9375rem;
  font-size: 1.75rem;
  font-weight: 600;
}

.txt-tarjeta {
  margin-bottom: 1.875rem;
  font-size: 1rem;
  line-height: 1.6;
  text-wrap: pretty;
}

.contenedor-form img {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.3125rem 0.625rem 0.3125rem 0;
}

.txt-info {
  display: flex;
  align-items: center;
  margin: 0.3125rem 0.625rem 0.3125rem 0;
  width: 1.5rem;
  height: 1.5rem;
}

/* --------------- Campos del formulario --------------- */
.campo, textarea {
  background-color: #FFD7A3;
  border: 1px solid #F8B259;
  width: 100%;
  padding: 0.9375rem 0.625rem;
  margin-bottom: 1.25rem;
  font-size: 1rem;
  border-radius: 0.1875rem;
}

/*--------------- html eventos ---------------*/
.encavezado-eventos {
  background-color: #F8B259;
  height: auto;
  padding: 1.25rem 0;
}

.encavezado-eventos h1 {
  text-align: center;
  font-weight: 600;
  font-size: 2.25rem;
}

.contenedor-eventos {
  display: flex;
  flex-wrap: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.apartado-imgEvetos {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: none;
  align-items: center;
  gap: 1.25rem;
  margin: 3.125rem 0.625rem;
  flex: 1 1 400px;
}

.apartado-imgEvetos img {
  width: 100%;
  max-width: 500px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 10px #5C4033;
}

.img2-evt img, .img1-evt img {
  height: 25rem;
  object-fit: cover;
  border-radius: 0.625rem;
  box-shadow: 0 0.25rem 0.5rem #5C4033;
}

.img1-evt img {
  width: 37.5rem;
}

.img2-evt img {
  width: 43.75rem;
}

.apartado-txtEventos {
  display: flex;
  flex-wrap: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin: 3.125rem;
}

.apartado-txtEventos h2 {
  color: #5C4033;
  font-size: 1.75rem;
  font-weight: 600;
}

.apartado-txtEventos p {
  font-size: 1rem;
  line-height: 1.6;
  padding: 0 2.5rem;
  text-wrap: pretty;
}

.listado-contenidoEvt {
  list-style: circle;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

.list-promo {
  color: #5C4033;
  font-size: 1rem;
  margin-left: 1.25rem;
  padding-left: 1.875rem;
}

.explicacion-pagos {
  font-weight: 600;
  line-height: 1.6;
}

/*--------------- html nosotos ---------------*/
.encavezado-nosotros {
  background-color: #F8B259;
  height: auto;
  padding: 1.25rem 0;
}

.encavezado-nosotros h1 {
  text-align: center;
  font-size: 2.25rem;
  font-weight: 600;
}

.seccion-historia {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: none;
  align-items: center;
  gap: 3.125rem;
  margin: 1.25rem 3rem;
  padding: 1.25rem 4.5rem;
}

.seccion-historia img {
  box-shadow: 0 0.25rem 0.5rem #5C4033;
  filter: grayscale(100%);
  border-radius: 0.9375rem;
  width: 100%;
  max-width: 22rem;
  height: auto;
}

.seccion-historia h2 {
  color: #5C4033;
  font-size: 2.25rem;
  font-weight: 600;
}

.seccion-historia p {
  font-size: 1rem;
  line-height: 1.6;
  text-wrap: pretty;
}

.seccion-valores {
  display: flex;
  flex-wrap: none;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  gap: 1.25rem;
  padding: 1.25rem;
}

.valor-uno,
.valor-tres,
.valor-dos {
  display: flex;
  flex-wrap: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: none;
  gap: 0;
  flex: 1 1 0;
  min-height: 20rem;
  padding: 1.25rem;
  border-radius: 0.75rem;
  margin: 0;
}

.valor-uno p,
.valor-dos p,
.valor-tres p {
  padding: 0 2.5rem;
  text-wrap: pretty;
}

.seccion-valores h3 {
  color: #FFD7A3;
  text-align: center;
  font-weight: 700;
  font-size: 1.375rem;
  padding: 0.9375rem;
}

.seccion-valores p {
  color: #FFD7A3;
  font-size: 1rem;
  line-height: 1.6;
  text-wrap: pretty;
}

.valor-uno, .valor-tres {
  background-color: #C75D2C;
  border-radius: 0.75rem;
}

.valor-dos {
  background-color: #D96F32;
  border-radius: 0.75rem;
}

/* --------------- html tienda --------------- */
.encavezado-tienda {
  background-color: #F8B259;
  height: auto;
  padding: 1.25rem 0;
}

.encavezado-tienda h1 {
  text-align: center;
  font-weight: 600;
  font-size: 2.25rem;
}

/*cuarto componentes*/
.navbar {
  background-color: #5C4033 !important;
  width: 100%;
}

.navbar a {
  color: #F3E9DC;
}

.navbar img {
  width: auto;
  height: 10.9375rem;
}

/* --------- botones ----------*/
.enviar {
  background-color: #D96F32;
  color: #FFE6BC;
  text-align: center;
  text-decoration: none;
  padding: 0.9375rem;
  font-size: 1rem;
  border-radius: 0.3125rem;
  cursor: pointer;
}

.enviar:hover {
  background-color: #C3542B;
}

/*----------- card tienda -----------*/
.contenedor-cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: none;
  justify-content: center;
  align-items: none;
  gap: none;
}

.card {
  display: flex;
  flex-wrap: none;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  gap: none;
  background-color: #FFE6BC;
  width: 15.625rem;
  height: 21.875rem;
  margin: 3.125rem;
  padding: 0.8rem;
  box-shadow: 0 0.25rem 0.5rem #5C4033;
  border-radius: 0.75rem;
}

.card-img {
  display: flex;
  flex-wrap: none;
  flex-direction: none;
  justify-content: center;
  align-items: center;
  gap: none;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card-img img {
  width: 90%;
  height: 9.375rem;
  object-fit: contain;
  border-radius: 0.5rem;
}

.info-card {
  display: flex;
  flex-wrap: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: none;
  gap: none;
  flex: 1;
}

.info-card h2 {
  color: #5C4033;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.625rem 0;
  margin: 0.625rem 0;
  line-height: 0;
}

.info-card p {
  color: #5C4033;
  padding: 0.625rem 0.3125rem;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-card {
  color: #D96F32;
  border-top: 0.0625rem solid #D96F32;
  display: flex;
  flex-wrap: none;
  flex-direction: none;
  justify-content: space-between;
  align-items: center;
  gap: none;
  width: 100%;
  margin-top: auto;
  padding-top: 0.625rem;
  font-size: 1.25rem;
  font-weight: 600;
}

/*# sourceMappingURL=estilos.css.map */
