@charset "UTF-8";
/*Primero se llama a los utilities*/
/*segundo a los base*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

h1,
h2,
h3 {
  font-family: "DM Serif Display", serif;
  font-weight: 600;
}

main {
  background-color: #F3E9DC;
}

h1 {
  font-size: 2.25rem;
  font-weight: 600;
}

h2 {
  font-size: 1.75rem;
  font-weight: 600;
}

p {
  font-size: 1rem;
  line-height: 1.6;
}

/*tersero layout media query al final*/
.pie-pagina h3 {
  padding: 0.625rem;
  font-size: 1.375rem;
  font-weight: 600;
}

.caja-general {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: none;
  gap: 0;
  padding: 1.25rem 0;
  background-color: #5C4033;
  color: #F3E9DC;
  height: auto;
}

.caja-redes {
  display: flex;
  flex-wrap: none;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  gap: 0.625rem;
  margin-top: 2.1875rem;
}

.caja-contactos {
  display: flex;
  flex-wrap: none;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  gap: 0.625rem;
}

.iconos-rd {
  display: flex;
  flex-wrap: none;
  flex-direction: row;
  justify-content: space-around;
  align-items: none;
  gap: 0;
}

.iconos-ct {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  gap: 0.625rem;
}

.item-contacto {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: none;
  align-items: center;
  gap: 0.625rem;
}

.item-contacto img {
  width: 1.5rem;
  height: 1.5rem;
}

.item-contacto p {
  margin: 0;
  font-size: 1rem;
  text-wrap: pretty;
}

.seccion-bienvenida {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;
}

.txt-bienvenida {
  display: flex;
  align-items: center;
  width: 50%;
  margin-right: 1.25rem;
  text-wrap: pretty;
}

.seccion-bienvenida img {
  width: 100%;
  max-width: 18.75rem;
  height: auto;
  object-fit: cover;
  margin: 1.875rem;
  border-radius: 1.25rem;
}

h1 {
  color: #5C4033;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 600;
}

main p {
  color: #C75D2C;
  text-align: left;
  font-size: 1rem;
  line-height: 1.6;
  text-wrap: pretty;
}

.contenedor-general {
  display: grid;
  grid-template-columns: none;
  grid-template-rows: repeat(3, 1fr);
  align-items: none;
  justify-items: none;
  gap: 1.875rem;
}

.contenedor3, .contenedor2, .contenedor1 {
  display: flex;
  align-items: center;
  gap: 1.5625rem;
}
.contenedor3 h2, .contenedor2 h2, .contenedor1 h2 {
  padding: 0.625rem 1.5625rem;
  font-size: 1.75rem;
  font-weight: 600;
}
.contenedor3 p, .contenedor2 p, .contenedor1 p {
  padding: 0.625rem 1.5625rem;
  font-size: 1rem;
  line-height: 1.6;
  text-wrap: pretty;
}
.contenedor3 img, .contenedor2 img, .contenedor1 img {
  width: 100%;
  max-width: 18.75rem;
  height: auto;
  object-fit: cover;
  border-radius: 1rem;
  margin: 0.625rem;
}

/* --------------- Sección Tienda --------------- */
.contenedor1 {
  background-color: #F8B259;
  padding-right: 0.625rem;
}
.contenedor1 h2, .contenedor1 p {
  color: #5C4033;
}

/* --------------- Sección Eventos --------------- */
.contenedor2 {
  background-color: #D96F32;
  flex-direction: row-reverse;
  padding-left: 0.625rem;
}
.contenedor2 h2, .contenedor2 p {
  color: #F3E9DC;
}

/* --------------- Sección Sobre nosotros --------------- */
.contenedor3 {
  background-color: #C75D2C;
  padding-right: 0.625rem;
  margin-bottom: 1.875rem;
}
.contenedor3 h2, .contenedor3 p {
  color: #F8B259;
}

.encavezado-nosotros {
  background-color: #F8B259;
  height: auto;
  padding: 1.25rem 0;
}

.encavezado-nosotros h1 {
  text-align: center;
  font-size: 2.25rem;
  font-weight: 600;
}

.seccion-historia {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: none;
  align-items: center;
  gap: 3.125rem;
  margin: 1.25rem 3rem;
  padding: 1.25rem 4.5rem;
}

.seccion-historia img {
  box-shadow: 0 0.25rem 0.5rem #5C4033;
  filter: grayscale(100%);
  border-radius: 0.9375rem;
  width: 100%;
  max-width: 22rem;
  height: auto;
}

.seccion-historia h2 {
  color: #5C4033;
  font-size: 2.25rem;
  font-weight: 600;
}

.seccion-historia p {
  font-size: 1rem;
  line-height: 1.6;
  text-wrap: pretty;
}

.seccion-valores {
  display: flex;
  flex-wrap: none;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  gap: 1.25rem;
  padding: 1.25rem;
}

.valor-uno,
.valor-tres,
.valor-dos {
  display: flex;
  flex-wrap: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: none;
  gap: 0;
  flex: 1 1 0;
  min-height: 20rem;
  padding: 1.25rem;
  border-radius: 0.75rem;
  margin: 0;
}

.valor-uno p,
.valor-dos p,
.valor-tres p {
  padding: 0 2.5rem;
  text-wrap: pretty;
}

.seccion-valores h3 {
  color: #FFD7A3;
  text-align: center;
  font-weight: 700;
  font-size: 1.375rem;
  padding: 0.9375rem;
}

.seccion-valores p {
  color: #FFD7A3;
  font-size: 1rem;
  line-height: 1.6;
  text-wrap: pretty;
}

.valor-uno, .valor-tres {
  background-color: #C75D2C;
  border-radius: 0.75rem;
}

.valor-dos {
  background-color: #D96F32;
  border-radius: 0.75rem;
}

/*cuarto componentes*/
.navbar {
  background-color: #5C4033 !important;
  width: 100%;
}

.navbar a {
  color: #F3E9DC;
}

.navbar img {
  width: auto;
  height: 10.9375rem;
}

/*# sourceMappingURL=estilos.css.map */
