@media (max-width: 425px){

.carritoNavBar {
    left: 0px;
}


/* --------------- html index celular --------------- */
.seccion-bienvenida{
    @include flex(column, none, none, none, 1rem);
}

.txt-bienvenida{
    width: 90%;
    margin: 1rem;
}

.seccion-bienvenida img{
    width: 10rem;
    margin: 1.5rem;
}

h1 {
    font-size: $font-size-smh1;
    margin: .9375rem 0;
}

main p {
    font-size: $font-size-smp;
    margin: .9375rem 0;
}

/* --------------- redirecciones del index --------------- */

.contenedor-general{
    gap: 0;
}

/*--------------- secciones tienda celulares ---------------*/

.filtro-busqueda{
    @include flex(column, wrap, center, center, 1rem);
    align-content: center;
}

%contenedor-general{
    @include flex(column, none, none, center, .5rem);
    h2{
        padding: .625rem;
        margin: .625rem 0 0 .625rem;
        font-size: $font-size-smh2;
        font-weight: 600;
    }
    p{
        margin: .625rem 0 0 .625rem;
        padding: .625rem;
        font-size: $font-size-smp;
    }
    img{
        width: 10rem;
        object-fit: cover;
        margin-right: .625rem;
        border-radius: 1rem;
    }
}

.contenedor1{
    @extend %contenedor-general;
    padding-right: 0;
}

/*--------------- secciones Eventos celulares ---------------*/
.contenedor2 {
    @extend %contenedor-general;
    padding: 0;
    h2,p{
        margin: .625rem .625rem 0 0;
    }
}
/*--------------- secciones Nosotros celulares ---------------*/
.contenedor3 {
    @extend %contenedor-general;
    padding-right: 0;
}

/* --------------- html contacto celular --------------- */
/* --------------- Formulario de contacto ---------------*/
.info-form {
    @include grid(1fr, repeat(2, 1fr), none, none, none);
}

.izq {
    padding: 0 1.875rem;
    align-content: center;
    margin-bottom: 0;
}

.der{
    padding: 0 2.1875rem 2.5rem 2.1875rem;
}

.contenedor-form h2 {
    font-size: $font-size-smh2;
}

.txt-tarjeta {
    font-size: $font-size-smp;
    margin: 15px 0;
}

.contenedor-form img {
    width: 1rem;
    height: 1rem;
    margin: .3125rem .625rem .3125rem 0;
}

.txt-info {
    font-size: $font-size-smp;
    width: 1.5rem;
    height: 1.5rem
}

/* --------------- Campos del formulario --------------- */
.campo, textarea {
    padding: .625rem;
    margin-bottom: 1.25rem;
    font-size: $font-size-smp;
    border: 1px solid $color2;
    border-radius: .1875rem;
}

/* --------------- Botón enviar --------------- */

.enviar {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    display: block;
}

/* --------------- html eventos celur --------------- */

.encavezado-eventos h1{
    font-size: $font-size-smh1;
}

.contenedor-eventos{
    @include flex(column, none, center, center, 0);
    padding: 1.25rem;
}

.apartado-imgEvetos{
    @include flex(column, none, none, none, 1.25rem);
    margin: 0;
    flex: 1 1 250px;
}

.apartado-imgEvetos img {
    width: 100%;
    max-width: 21.875rem;
}


.img1-evt img{
    width: 18.75rem;
    height: 14.0625rem;
}

.img2-evt img{
    height: 15.625rem;
}

.apartado-txtEventos{
    margin: 1.25rem .625rem;
    gap: 0;
}

.apartado-txtEventos h2{
    margin-bottom: .625rem;
    font-size: $font-size-smh2;
}

.apartado-txtEventos p{
    font-size: $font-size-smp;
    padding: 0 1.5rem;
    margin: .625rem 0;
}

.list-promo{
    font-size: $font-size-smp;
    margin-left: 1rem;
    padding-left: 1.75rem;
    gap: .3125rem;
}

.list-promo li{
    margin-bottom: .3125rem;
}

/* --------------- html Sobre Nosotros celular --------------- */

.encavezado-nosotros h1{
    font-weight: $font-weight-seminegrita;
    font-size: $font-size-smh1;
}

.seccion-historia{
    flex-direction: column;
    margin: .625rem;
    padding: 1.25rem 1.875rem;
    gap: 0;
}

.seccion-historia img{
    border-radius: .9375rem;
    width: 12.5rem;
}
.seccion-historia h2{
    font-size: $font-size-smh2;
    text-align: center;
}

.seccion-historia p{
    font-size: $font-size-smp;
}

.seccion-valores {
    @include flex(column, none, none, none, 1rem);
    padding: 1rem;
}

.valor-uno,
.valor-dos,
.valor-tres {
    justify-content: center;
    min-height: 13.75rem;
    padding: 0;
    margin: 0;
}

.valor-uno p,
.valor-dos p,
.valor-tres p{
    font-size: $font-size-smp;
    margin: .625rem 0;
}

.seccion-valores h3{
    font-size: $font-size-smh3;
    padding: .625rem;
}

.seccion-valores p{
    font-size: $font-size-smp;
}

/* --------------- html tienda celular --------------- */

.encavezado-tienda h1{
    font-size: $font-size-smh1;
}

.card{
    width: 14.375rem;
    height: 19.6875rem;
    margin: 2rem;
}

.card-img img{
    width: 100%;
    height: 6.875rem;
}

.info-card h2{
    font-size: $font-size-smcard;
    padding: .5rem 0;
}

.info-card p{
    font-size: $font-size-smp;
    margin-top: 0;
    height: 80px;
}

.footer-card{
    p{
    margin: .625rem 0;
    }
    padding-top: 0 !important;
    font-size: $font-size-smcard;
}


/* --------------- Pie de página celular --------------- */
.caja-general{
    gap: .9375rem;
    flex-direction: column;
    align-items: center;
}

.pie-pagina h3 {
    margin: 0;
    padding: .25rem;
    font-size: 1.125rem;
}

.caja-general {
    padding: 1rem 0;
}

.caja-contactos{
    gap: .3125rem;
    align-items: center;
}

.caja-redes {
    gap: .3125rem;
    margin-top: .9375rem;
}

.iconos-rd{
    justify-content: space-evenly;
}

.item-contacto img {
    width: 1.5rem;
    height: 1.5rem;
}

.item-contacto p {
    font-size: .9rem;
}
}