

$color1:#5C4033;
$color2:#C75D2C;
$color3:#C3542B;
$color4:#D96F32;
$color5:#F8B259;
$color6:#FFD7A3;
$color7:#FFE6BC;
$color8:#F3E9DC;

$font-h:"DM Serif Display", serif;
$font-p:"Poppins", sans-serif;

// font sizes

$font-size-h1: 2.25rem;
$font-size-h2: 1.75rem;
$font-size-h3: 1.375rem;
$font-size-card: 1.5rem;
$font-size-p: 1rem;

// font sizes responsive

$font-size-mdh1: 2rem;
$font-size-mdh2: 1.5rem;
$font-size-mdh3: 1.25rem;
$font-size-mdcard: 1.25rem;
$font-size-mdp: 1rem;


$font-size-smh1: 1.5rem;
$font-size-smh2: 1.25rem;
$font-size-smh3: 1.125rem;
$font-size-smcard: 1.125rem;
$font-size-smp: .9rem;


// font weight 
//Se agragan más por las dudas a parte de 600 

$font-weight-fino: 300;
$font-weight-regular: 400;
$font-weight-seminegrita: 600;
$font-weight-negrita: 700;

