/* --------------- html tienda --------------- */

.encavezado-tienda{
    background-color: $color5;
    height: auto;
    padding: 1.25rem 0;
}

.encavezado-tienda h1{
    text-align: center;
    font-weight: $font-weight-seminegrita;
    font-size: $font-size-h1;
}