
/* --------- botones ----------*/
.enviar{
    background-color: $color4;
    color: $color7;
    text-align: center;
    text-decoration: none;
    padding: .9375rem;
    font-size: $font-size-p;
    border-radius: .3125rem;
    cursor: pointer;
}

.enviar:hover {
    background-color: $color3;
}

.btn-finalizar {
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    background-color: $color5;
    color: $color8;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn-finalizar:hover {
    background-color: $color4;
}

.boton-filtro{
    padding: 0.75rem 1.5rem;
    background-color: $color5;
    color: $color10;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.boton-filtro:hover {
    background-color: $color4;
}
