/*----------- card tienda -----------*/

.contenedor-cards{
    @include flex(none, wrap, center, none, none);
}

.card{
    @include flex(column, none, none, none, none);
    background-color: $color7;
    width: 15.625rem;
    height: 21.875rem;
    margin: 3.125rem;
    padding: .8rem;
    box-shadow: 0 .25rem .5rem $color1;
    border-radius: .75rem;
    animation: scala-card 0.6s ease-in-out both;
}

@keyframes scala-card {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.card-img {
    @include flex(none, none, center, center, none);
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card-img img{
    width: 90%;
    height: 9.375rem;
    object-fit: contain;
    border-radius: .5rem;
}

.info-card{
    @include flex(column, none, flex-start, none, none);
    flex: 1; 
}

.info-card h2{
    color: $color1;
    font-size: $font-size-card;
    font-weight: $font-weight-seminegrita;
    padding: .625rem 0;
    margin: .625rem 0;
    line-height: 0;
}

.info-card p{
    color: $color1;
    padding: .625rem .3125rem;
    font-size: $font-size-p;
    line-height: 1.6;
    margin-bottom: 0;
}
.footer-card{
    color: $color4;
    border-top: .0625rem solid $color4;
    @include flex(none, none, space-between, center, none);
    width: 100%;
    margin-top: auto;
    padding-top: .625rem;
    font-size: 1.25rem;
    font-weight: 600;
}

.footer-card p{
    padding-top: .625rem;
}

svg {
    width: 2.1875rem;
    height: 2.1875rem;
}
.card-button {
    @include flex(none, none, center, center, none);
    margin-top: .3125rem;
}
.card-button svg {
    border: 2px solid $color1;
    display: flex;
    padding: .3em;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s all ease-in-out;
}

.card-button svg:hover {
    border: 2px solid $color5;
    background-color: $color5;
}
