
.navbar{
    background-color: $color1 !important;
    width: 100%;
}

.navbar-toggler{
    background-color: $color9;
}

.navbar a{
    color: $color8;
}

.navbar img{
    width: auto;
    height: 10.9375rem;
}

.container-fluid{
    justify-content: space-evenly !important;
}

.navbar-brand img:hover {
    animation: scala-logo 0.45s ease-in-out both;
}

@keyframes scala-logo {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.25);
    }
}


.carritoNavBar{
    border: .0625rem solid $color10;
    cursor: pointer;
    border-radius: 10px;
    background-color: $color9;
    margin-right: .125rem;
}

