
.navbar{
    background-color: $color1 !important;
    width: 100%;
}

.navbar a{
    color: $color8;
}

.navbar img{
    width: auto;
    height: 10.9375rem;
}

.navbar-brand img:hover {
    animation: scala-logo 0.45s ease-in-out both;
}

@keyframes scala-logo {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.25);
    }
}
