h1 {
    font-size: $font-size-h1;
    font-weight: $font-weight-seminegrita;
}

h2 {
    font-size: $font-size-h2;
    font-weight: $font-weight-seminegrita;
}

p {
    font-size: $font-size-p;
    line-height: 1.6;
}
